# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Mac system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# VSCode settings
.vscode/

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Build output
dist/
build/
out/
coverage/
tmp/
temp/
.cache/
.next/
.svelte-kit/